
<div style="padding:10px;">
<!--<table border="0" cellpadding="5" cellspacing="0" class="msg-table-info" align="left">
	<tr>
		<td class="msg-info-img">&nbsp;</td>
    <td align="left" valign="middle" class="msg-info-td">
    	<div class="msg-info-title">#strtitle</div>
    	<div class="msg-info-sub-title">#strsubtitle</div>
    </td>
	</tr>
</table>-->
<table border="0" class="msg-table-info" cellpadding="0" cellspacing="0">
  <tr>
    <td class="msg-corner-top-left"></td>
    <td class="msg-corner-top-middle"></td>
    <td class="msg-corner-top-right"></td>
  </tr>
  <tr>
    <td class="msg-middle-left"></td>
    <td class="msg-middle-middle" align="left">
    	<table cellpadding="0" cellspacing="0">
      	<tr>
        	<td class="msg-info-img" valign="top" align="center"><img src="##imgpath##common/templates/images/icons/check.png" /></td>
         	<td>
            <div class="msg-info-title">#strtitle</div>
            <div class="msg-info-sub-title">#strsubtitle</div>
          </td>
        </tr>
       </table>
		</td>
    <td class="msg-middle-right"></td>
  </tr>
  <tr>
    <td class="msg-corner-bottom-left"></td>
    <td class="msg-corner-bottom-middle"></td>
    <td class="msg-corner-bottom-right"></td>
  </tr>
</table>
<div style="clear:both"></div></div>
